* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: cursive;
}

/*Шапка*/

.header {
    background-color: gray;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.logo {
    margin-right: 10px;
    border: 2px;
    border-radius: 50%;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: 1s;
    margin: 5px 10px;
    padding: 10px 50px;
}


.nav a:hover {
    background-color: white;
    color: gray;
    border: 2px;
    border-radius: 10px;
    transition: 1s;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Блок 1*/

.block1 {
    margin: 60px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.text-block1 {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.button {
    height: 30px;
    width: 120px;
    color: rgb(0, 0, 0);
    background-color: rgb(162, 160, 160);
    border: 2px solid rgb(255, 255, 255);
    transition: 1s;
}

.button:hover {
    height: 40px;
    width: 140px;
    color: black;
    background-color: rgb(152, 62, 62);
    border-radius: 10px;
}

/*Блок 2*/

.block2 {
    background-color: gray;
    border-radius: 10px;
    color: white;
    margin: 20px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.title-block2  {
    margin: 30px 0px 0px 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card {
    width: 350px;
    height: 400px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    margin: 60px;
    text-align: center;
    transition: 1s;
    color: black;
}

.card img {
    width: 300px;
    height: 200px;
}

.card-text {
    font-size: 15px;
    font-family: cursive;
    margin-top: 15px;
    color: black;
}

.card-title {
    color: black;
    margin-bottom: 10px;
}

.card:hover {
    width: 360px;
    height: 410px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.card:hover .card-title,
.card:hover .card-text {
    color: white; 
}

/*Блок 3*/

.block3 {
    margin: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.title-block3 {
    width: 100%;
    margin: 30px 0px 0px 15px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.text-block3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

/*Блок 4*/

.block4 {
    background-color: gray;
    border-radius: 10px;
    color: white;
    margin: 20px;
}

.cards-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block4  {
    margin: 30px 0px 0px 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.card1 {
    width: 350px;
    height: 400px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    margin: 30px;
    text-align: center;
    transition: 1s;
    color: black;
}

.card1 img {
    width: 300px;
    height: 200px;
}

.card-text {
    font-size: 15px;
    font-family: cursive;
    margin-top: 15px;
    color: black;
}

.card-title {
    color: black;
    margin-bottom: 10px;
}

.card1:hover {
    width: 360px;
    height: 410px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.card1:hover .card-title,
.card1:hover .card-text {
    color: white; 
}

/*Футер*/

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 60px;
}